/**
 * @name system24
 * @description a tui-style discord theme (matugen-synced).
 * @author refact0r
 * @version 2.0.0 (matugen edition)
*/

/* import system24 base */
@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    --font: 'Inter';
    --code-font: 'JetBrains Mono';
    font-weight: 400;

    --gap: 14px;
    --divider-thickness: 4px;
    --border-thickness: 1px;
    --border-hover-transition: 0.3s ease;

    --animations: on;
    --list-item-transition: 0.3s ease;
    --dms-icon-svg-transition: 0.4s ease;

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;

    --custom-window-controls: off;
    --window-control-size: 14px;

    --custom-dms-icon: off;
    --dms-icon-svg-url: url('');
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-secondary);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: off;
    --dms-background-color: linear-gradient(70deg, {{ colors.primary.default.hex }}, {{ colors.secondary.default.hex }});

    --background-image: off;
    --background-image-url: url('');

    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --bg-floating: var(--bg-3);

    --small-user-panel: on;
    --unrounding: on;
    --custom-spotify-bar: on;
    --ascii-titles: on;
    --ascii-loader: system24;
    --panel-labels: on;
    --label-color: var(--text-muted);
    --label-font-weight: 500;
}

/* colors synced with matugen */
:root {
    --text-0: {{ colors.surface.default.hex }};
    --text-1: {{ colors.on_surface.default.hex }};
    --text-2: {{ colors.on_surface_variant.default.hex }};
    --text-3: {{ colors.on_surface_variant.default.hex }};
    --text-4: {{ colors.outline.default.hex }};
    --text-5: {{ colors.outline.default.hex }};

    --bg-1: {{ colors.primary.default.hex }};
    --bg-2: {{ colors.surface_container_lowest.default.hex }};
    --bg-3: {{ colors.surface_container_lowest.default.hex }};
    --bg-4: {{ colors.surface.default.hex }};
    --hover: {{ colors.surface_container_low.default.hex }};
    --active: {{ colors.surface_container_low.default.hex }};
    --active-2: {{ colors.surface_container_highest.default.hex }};
    --message-hover: {{ colors.surface_bright.default.hex }};

    --accent-1: {{ colors.primary.default.hex }};
    --accent-2: {{ colors.primary.default.hex }};
    --accent-3: {{ colors.primary.default.hex }};
    --accent-4: {{ colors.primary_fixed.default.hex }};
    --accent-5: {{ colors.primary_fixed_dim.default.hex }};
    --accent-new: {{ colors.error.default.hex }};
    --mention: linear-gradient(to right, {{ colors.secondary_container.default.hex }}, transparent);
    --mention-hover: linear-gradient(to right, {{ colors.secondary_container.default.hex }}, transparent 95%);
    --reply: linear-gradient(to right, {{ colors.surface_variant.default.hex }}, transparent);
    --reply-hover: linear-gradient(to right, {{ colors.surface_variant.default.hex }}, transparent 95%);

    --online: {{ colors.tertiary_container.default.hex }};
    --dnd: {{ colors.error.default.hex }};
    --idle: {{ colors.tertiary.default.hex }};
    --streaming: {{ colors.primary.default.hex }};
    --offline: {{ colors.outline_variant.default.hex }};

    --border-light: {{ colors.surface_container_low.default.hex }};
    --border: {{ colors.outline.default.hex }};
    --border-hover: {{ colors.primary.default.hex }};
}
